<p>
  Exibindo {{ students.length }} alunos.
</p>


<div class="page-header">
  <a routerLink="/students/new" class="btn btn-outline-primary">
    Novo Aluno
  </a>
  <a routerLink="/students/registry" class="btn btn-outline-primary">
    Matricular Aluno
  </a>
</div> <br />

<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th data-field="name">Nome</th>
    <th data-field="registry">Matricula</th>
    <th data-field="registry">Periodo</th>
    <th data-field="actions"></th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.name }}</td>
      <td>{{ student.registry }}</td>
      <td>{{ student.period }}</td>
      <td>
        <a [routerLink]="['/students', student.id, 'subjects']">
          Ver diciplinas
        </a>

        <a [routerLink]="['/students', student.id]" style="margin-left:2%;">
          Editar
        </a>

        <a (click)="deleteStudent(student)" href="" style="margin-left:2%;">
          Deletar
        </a>
      </td>
    </tr>
  </tbody>
</table>
